.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  align-items: center;
}

.slider {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image {
  width: 500px;
  height: 350px;
  padding-bottom: 1rem;
}

.btn {
  display: flex;
  padding: 1rem;
}
