.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  align-items: center;
}

.images {
  width: 100vw;
  margin: 0 auto;
}

.images img {
  display: block;
  width: 20%;
  margin: auto;
  padding-top: 1rem;
}
