.links {
  display: flex;
  justify-content: flex-end;
}

.links a {
  text-decoration: none;
  text-align: center;
  align-content: space-around;
  padding: 2rem 2rem 0 2rem;
  font-size: 1.5rem;
  color: black;
}
